node_modules
HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

# Java
*.class

# Vaadin
node_modules/
package-lock.json
pnpm-lock.yaml
yarn.lock

# Vaadin generated frontend files
/frontend/
!/frontend/.gitkeep
policia-frontend/src/main/frontend/generated/
src/main/frontend/generated/

# Generated Vaadin files
*.ts
*.js
*.map

# Vaadin / frontend build
.vaadin/
vite.config.ts
vite.generated.ts
webpack.config.js
webpack.generated.js

# IDE - NetBeans
nbproject/private/
nbbuild/
nbdist/
.nb-gradle/
build/
dist/