#GITIGNORE para que no molesten los archivos de compilacion individuales

# Compilados de Java
*.class

# Archivos de log
# Archivos compilados
*.class

# Directorios de build y distribución
/build/
/dist/
/target/

# Configuración privada de NetBeans
nbproject/private/
nbproject/configurations.xml
nbproject/genfiles.properties

# Archivos de IDE
/.idea/
/.vscode/
/*.iml

# Archivos de sistema
.DS_Store
Thumbs.db

# Logs y temporales
*.log
*.tmp
/SistemaPolicia/dist/
