#GITIGNORE para que no molesten los archivos de compilacion individuales

# Compilados de Java
# --- Compilados y Build ---
# Aplica a cualquier nivel de subdirectorio
**/build/
**/dist/
**/target/
*.class

# --- Configuración específica de NetBeans ---
# Eliminamos la barra inicial para que actúe en cualquier subcarpeta
nbproject/private/
nbproject/configurations.xml
nbproject/genfiles.properties
# General para netbeans
nbproject/build-impl.xml

# --- Archivos de IDE ---
.idea/
.vscode/
*.iml

# --- Sistema y temporales ---
.DS_Store
Thumbs.db
*.log
*.tmp
